[submodule "inc/glm"]
	path = inc/glm
	url = https://github.com/g-truc/glm.git
[submodule "library"]
	path = library
	url = https://github.com/fwsGonzo/library.git
[submodule "inc/LuaBridge"]
	path = inc/LuaBridge
	url = https://github.com/fwsGonzo/LuaBridge.git
[submodule "test/Catch"]
	path = test/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "inc/ThreadPool"]
	path = inc/ThreadPool
	url = https://github.com/fwsGonzo/ThreadPool.git
[submodule "tacopie"]
	path = network/tacopie
	url = https://github.com/Cylix/tacopie.git
