# Compiled Object files
*.o
*.d
Debug/gmon.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.a

# compressed chunks
*.compressed
# raw chunks
*.chunk
# temporary files
*.temp

# Music
*.mp3

# Executable & logs
*.exe
*.log
Debug/cppcraft
Debug/Worlds/*
Debug/config.ini

# Other
*.rar
build/
Debug/world/world.data
