# Compiled Object files
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.a

# compressed chunks
*.compressed
# raw chunks
*.chunk
# temporary files
*.temp

# Music
*.mp3

# Executable & logs
*.exe
*.log
Debug/cppcraft
Debug/Worlds/*
Debug/config.ini

# Archives
*.rar

# CodeLite
*.workspace.*
*.tags
*.db
*.session

# Edited files
*~
.codelite/
